body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: circle;
}

a {
  color: #0000EE;
  text-decoration: none;
}

a:visited {
  color: #0000EE;
}

a:hover {
  text-decoration: underline;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6ba8a9;
}

li.navbarLink {
  float: left;
}

li.navbarLink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbarLink a:hover {
  background-color: #357376;
}

.active {
  background-color: #357376;
}

.notice {
  font-weight: bold;
}

.homework {
  color: #f27f7f;
  font-weight: bold;
}

.weekTitle {
  text-decoration: underline;
}

.contentContainer {
  margin: 2%;
  border-radius: 5px;
}

.content {
  margin: 2% 2% 12% 4%;
}

.week {}

.day {
  margin-left: 5%;
}

#main-title {
  text-align: center;
}

#main-subtitle {
  text-align: center;
}