body {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  background-color: pink;
}

.column-one {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  background: blue;
  height: 300px;
}

.column-two {
  width: 50%;
  height: 100px;
  background: green;
}

.title-div {
  background-color: lightcoral;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cat-gif {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-div {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.row {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.inline-green {
  position: relative;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  width: 200px;
  height: 200px;
  background-color: lightgreen;
}

.inline-yellow {
  position: relative;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  width: 200px;
  height: 200px;
  background-color: lightyellow;
}

.relative-position {
  width: 80px;
  height: 80px;
  left: 30px;
  top: 10px;
  position: relative;
  background-color: orange;
}

.relative-position-2 {
  width: 80px;
  height: 60px;
  left: 30px;
  top: 50px;
  position: relative;
  background-color: orange;
}

.fixed-position {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.absolute-position {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  background-color: orange;
}

.gradient-square {
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 1;
  top: 200px;
  animation-name: gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */

@keyframes gradient {
  0% {
    background: -webkit-linear-gradient(red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow);
    /* Standard syntax */
    left: 0%;
  }
  50% {
    background: -webkit-linear-gradient(yellow, blue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, blue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, blue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, blue);
    /* Standard syntax */
    left: calc(100% - 200px);
  }
  100% {
    background: -webkit-linear-gradient(red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow);
    /* Standard syntax */
    left: 0px;
  }
}

#main-container {
  width: 100%;
  height: auto;
  background-color: blue;
  background-image: url("../images/pippin.png");
  background-repeat: repeat;
  background-size: 5%;
  position: relative;
}

#content-container {
  position: relative;
  width: 600px;
  height: auto;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
}

#cat-image {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#my-span {
  color: blue;
  font-weight: bold;
}